.Recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem 2.3rem .5rem;
  }
  
  .Recipe .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
  }
  
  .Recipe h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .Recipe-information {
    display: flex;
    justify-content: space-between;
  }
  
  .Recipe-information p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
  }
  
  .Recipe-ingredients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Recipe-Url {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }
  
  .Recipe-Url h3 {
    color: #CCA353;
    font-weight: 600;
  }
  
  .Recipe-Url {
    font-size: .88rem;
    line-height: 1rem;
  }